DATABASE_URL="postgresql://POSTGRES_DB:POSTGRES_USER@postgres:5432/devices"
POSTGRES_DB=devices
POSTGRES_USER=XXXXXXX
POSTGRES_PASSWORD=XXXXXXX
DEVICE_REGISTRATION_API_URL=http://device-registration-api:8000
REQUEST_TIMEOUT_SECONDS=5
LOG_LEVEL=INFO